<%- include('includes/head') %>
<%- include('includes/nav') %>
    
<div class="container">
  <div class="row">
    <div class="col-lg-2"></div>

    <div class="col-lg-8 my-3">
      <h1 class="text-center">Criar conta ou Entrar</h1>
      <p class="text-center lead">Faça login ou crie a sua conta abaixo</p>

      <%- include('includes/messages'); %>

      <div class="row">

        <div class="col-lg">
          <h4>Registrar</h4>
          <p>Não tem conta? Registre-se aqui:</p>
          <form action="/login/register" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Seu Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Sua password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Criar Conta</button>
          </form>

        </div>

        <div class="col-lg">
          <h4>Login</h4>
          <p>Insira as credênciais para entrar na sua conta.</p>
          <form action="/login/login" method="POST">
            <input type="hidden" name="_csrf" value=<%= csrfToken %>>
            <div class="form-group">
              <label>Seu Email</label>
              <input type="email" class="form-control" name="email">
            </div>
            <div class="form-group">
              <label>Sua password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-primary">Entrar</button>
          </form>

        </div>

      </div>

    </div>

    <div class="col-lg-2"></div>
  </div>

</div>

<%- include('includes/footer') %>